<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}PAGINA PRINCIPAL{% endblock title %}</title>
</head>
<body>
	<ul>
		<li><a href="/">Principal</a></li>
		<li><a href="/registrarprod">Registrar producto</a></li>
		<li><a href="/listaprod">Lista de productos</a></li>
		<li><a href="/vertodosprod">Ver todos los productos</a></li>
		<li><a href="/elegirprodmodificar">Elegir producto a modificar</a></li>
		<li><a href="/registrarpedido">Registrar pedido</a></li>
		<li><a href="/listapedido">Lista de pedidos</a></li>
		<li><a href="/escogerpedidoparaver">Ver pedidos</a></li>
		<li><a href="/escogerpedidoeliminar">Eliminar pedido</a></li>
	</ul>
	{% block container %}
	BIENVENIDOS A LA TIENDA
	{% endblock container %}
</body>
</html>