<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/principal.css">
	<link rel="stylesheet" type="text/css" href="/static/formularios.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<title>{% block title %}PAGINA PRINCIPAL{% endblock title %}</title>
</head>
<body>
	<div id="header">
		<ul class="menu">
			<li><a href="/">Principal</a></li>
			<li><a href="">Productos</a>
				<ul>
					<li><a href="/registrarprod">Registrar producto</a></li>
					<li><a href="/listaprod">Lista de productos</a></li>
					<li><a href="/vertodosprod">Ver todos los productos</a></li>
					<li><a href="/elegirprodmodificar">Elegir producto a modificar</a></li>
				</ul>
			</li>
			<li><a href="">Pedidos</a>
				<ul>
					<li><a href="/registrarpedido">Registrar pedido</a></li>
					<li><a href="/listapedido">Lista de pedidos</a></li>
					<li><a href="/escogerpedidoparaver">Ver pedidos</a></li>
					<li><a href="/escogerpedidoeliminar">Eliminar pedido</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<h2><center>{% block titulo %}BIENVENIDOS A LA TIENDA{% endblock titulo %}</center></h2>
	{% block container %}
	BIENVENIDOS A LA TIENDA
	{% endblock container %}
</body>
</html>